<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Bienvenido a la home</title>
	<link rel="stylesheet">
</head>

<body>
	<div>
		<div>
			<a th:href="@{/ingresar}">Iniciar Sesión</a>
		</div>
		<div>
			<a th:href="@{/extraer}">Cerrar Sesión</a>
		</div>
		<div>
			<a th:href="@{/verMovimientos}">Registrar</a>
		</div>
		<div>
			<a th:href="@{/transferencia}">Registrar</a>
		</div>
		<div>
			<a th:href="@{/logout}">Registrar</a>
		</div>
	</div>
</body>

</html>