<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Bienvenido a la home</title>
	<link rel="stylesheet" th:href="@{/index.css}">
</head>

<body>
	<div class="containerHome">
		<div class="pb15">
			<a th:href="@{/ingresar}">Ingresar</a>
		</div>
		<div class="pb15">
			<a th:href="@{/extraer}">Extraer</a>
		</div>
		<div class="pb15">
			<a th:href="@{/verMovimientos}">Ver movimientos</a>
		</div>
		<div class="pb15">
			<a th:href="@{/transferencia}">Transferencia</a>
		</div>
		<div>
			<a th:href="@{/logout}">Cerrar sesión</a>
		</div>
	</div>
</body>

</html>