<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Dar evento de alta</title>
	<link rel="stylesheet" th:href="@{/index.css}">
</head>
<body>
	<div id="fullContainer">
		<div id="forms">
			<h1>Formulario de alta</h1>
			<form th:action="@{/eventos/alta}" th:object="${evento}" id="formEvento" method="post" class="mt-15">
				<!-- Nombre -->
				<label>Nombre</label><br>
				<input type="text" th:field="*{nombre}"><br>
				<!-- Descripción -->
				<label class="mt-15">Descripción</label><br>
				<textarea form="formEvento" th:field="*{descripcion}"></textarea><br>
				<!-- Fecha de Inicio -->
				<label class="mt-15">Fecha de Inicio</label><br>
				<input type="date" th:field="*{fechaInicio}"><br>
				<!-- Duración -->
				<label class="mt-15">Duración</label><br>
				<input type="number" th:field="*{duracion}"><br>
				<!-- Dirección -->
				<label class="mt-15">Dirección</label><br>
				<input type="text" th:field="*{direccion}"><br>
				<!-- Estado -->
				<label class="mt-15">Estado</label><br>
				<input type="radio" th:field="*{estado}" th:value="activo">Activo<br>
				<input type="radio" th:field="*{estado}" th:value="cancelado">Cancelado<br>
				<!-- Destacado -->
				<label class="mt-15">Destacado</label><br>
				<input type="radio" th:field="*{destacado}" th:value="si">Sí<br>
				<input type="radio" th:field="*{destacado}" th:value="no">No<br>
				<!-- Aforo Máximo -->
				<label class="mt-15">Aforo Máximo</label><br>
				<input type="number" th:field="*{aforoMax}"><br>
				<!-- minimoAsis -->
				<label class="mt-15">Mínimo Asistencia</label><br>
				<input type="number" th:field="*{minimoAsis}"><br>
				<!-- Precio -->
				<label class="mt-15">Precio</label><br>
				<input type="number" step="0.01" th:field="*{precio}"><br>
				<!-- TipoNombre -->
				<label class="mt-15">Tipo de evento</label><br>
				<select th:field="*{tipo.idTipo}">
					<option th:each="tipo : ${tipos}" th:value="${tipo.idTipo}" th:text="${tipo.nombre}"></option>
				</select><br>
				<!-- Botón enviar -->
				<input type="submit" class="mt-15" id="enviar" value="Enviar">
			</form>
			<div class="mt-15">
				<a id="volver" th:href="@{/}"><- volver</a>
			</div>
		</div>
	</div>
</body>
</html>